#HomePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  #Spans {
    display: flex;
    button {
      cursor: pointer;
    }
  }
  table {
    th,
    td {
      vertical-align: middle;
    }
  }
}
